* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100px;
    position: fixed;
    width: 100%;
}

.nav-left {
    display: flex;
    margin-left: 50px;
}

.nav-right {
    margin-right: 50px;
}

.nav-right li {
    margin-right: 20px;
}

.nav-right ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.page-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
}

.page-content img {
    width: 50%;
    border-radius: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* DARK THEME */

.dark-theme {
    color: aliceblue;
    background-color: rgb(70, 70, 70)
}

.dark-nav,
.dark-footer {
    background-color: black;
    color: aliceblue;
}


/* LIGHT THEME */

.light-theme {
    background-color: aliceblue;
    color: rgb(70, 70, 70);
}

.light-nav,
.light-footer {
    background-color: rgb(255, 255, 255);
    color: rgb(59, 59, 59);
}