body {
    background-color: dodgerblue
}

header {
    color: black;
    height: 125px;
    vertical-align: middle;
}

h1 {
    background-image: linear-gradient(to right, white, white);
    text-align: center;
    font-size: 100px;
    /* opacity: 50%; */
    margin: 20px;
    vertical-align: middle;
    padding: 10px;
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border: 3px solid black;
    transition: opacity 2s;
}

h1:hover {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    margin: 20px;
    vertical-align: middle;
    padding: 10px;
    color: black;
    text-transform: lowercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    border: 3px solid white;
    opacity: 100%;
}

.container div {
    width: 300px;
    height: 300px;
    line-height: 300px;
    border: 15px solid black;
    /* padding: 50px; */
    margin: 50px;
    background-color: white;
    display: inline-block;
    transition: border-radius 1s, border 2s, font-size 5s;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
}

.box:hover {
    border-color: white;
    border-radius: 50%;
    box-shadow: 20px 20px 20px black;
    color: white;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    vertical-align: middle;
}

#box1:hover {
    background-color: red;
}

#box2:hover {
    background-color: orange;
}

#box3:hover {
    background-color: yellow;
}

#box4:hover {
    background-color: green;
}

#box5:hover {
    background-color: blue;
}

#box6:hover {
    background-color: purple;
}