body {
    font-family: sans-serif;
    font-size:20px;
    color: White;
    background-color: #071e26;
}

.navbar li {
    display: inline-block;
 
}

.welcome {
    text-decoration: none;
    padding: 20px;
}

.code-photo {
    max-width: 80%;
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
    
}

.list {
    clear: both;
}

.fake-link {
   cursor: pointer;
   padding: 20px;
}

.navbar {
       background-color: #165a72;
         overflow: hidden;
}

h1 {
    background-color: #165a72;
    text-align: center;
    font-size: 60px
}

.fake-link:hover {
    background-color: #2596be;
    border-radius:20px;

}
