.ugly {
    position: relative;
    top: 100px;
    min-height: 50vh;
    max-height: 100vh;
    height: 100vh;
    background-color: rgb(202, 202, 202);
    border-top: 3px solid #000;
    display: flex;
    justify-content: center;
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 150px;
    height: 100%;
}

.list-container h2 {
    text-align: center;
}

.ugly-card {
    background-color: white;
}