.about {
    height: 100vh;
    background-color: #343541;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text {
    position: relative;
    top: 100px;
    color: rgb(252, 252, 252);
}

.about-text span a {
    color: orange;
}