:root {
    --body_background: white;
    --body_color: black;
    --link_color: navy;
    --nav_background: rgb(128, 149, 149);
}

[data-theme="dark"] {
    --body_background: #282c34;
    --body_color: rgb(255, 255, 255);
    --link_color: cyan;
    --nav_background: #5c5f65;
}

.App {
    background-color: var(--body_background);
    color: var(--body_color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-width: 400px; */
    /* overflow: hidden; */
    background-color: var(--body_background);
}


/* Navbar */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav_background);
    align-items: center;
    min-height: 150px;
    padding: 20px 1rem;
    gap: 2rem;
    color: rgb(255, 255, 255)
}

.nav-left {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    height: 100%;
}

.nav-left,
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.nav-left img {
    height: 100px;
}

.nav-title {
    margin: 10px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    /* height: 100%; */
}

.nav-right a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-right ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

.nav-right li {
    /* display: flex; */
    font-size: 24px;
    padding: 15px;
}

.nav-right li:active {
    background-color: aquamarine;
    color: #ffffff;
}

.nav-right ul li:hover {
    color: rgb(121, 129, 144);
    background-color: white;
    border-radius: 20px;
}


/* The switch - the box around the slider */

.nav .nav-right .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.nav .nav-right .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.nav .nav-right .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.nav .nav-right .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.nav .nav-right input:checked+.slider {
    background-color: #000000;
}

.nav .nav-right input:focus+.slider {
    border: 1px solid white;
    box-shadow: 0 0 1px #ffffff;
}

.nav .nav-right input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.nav .nav-right .slider.round {
    border-radius: 34px;
}

.nav .nav-right .slider.round:before {
    border-radius: 50%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home .slides {
    /* display: none */
}

.services {
    height: 100vh;
}

.contact,
.careers,
.about,
.services {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 10%;
}

.home a,
.contact a,
.careers a,
.about a,
.services a {
    text-decoration: none;
    color: inherit;
}

.contact,
.careers,
.about,
.services {
    padding: 3rem;
}

.home img {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.careers h2 {
    padding: 2rem;
}

@media screen and (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: var(--nav_background);
    }
    .nav-right {
        display: flex;
        flex-direction: column
    }
    .nav-right ul {
        background-color: var(--nav_background);
        display: block;
    }
}